<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788524645419-qmjtkaqn38c20u3a285vgdv5siqtgbgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788524645419-qmjtkaqn38c20u3a285vgdv5siqtgbgs</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NPq0sLhdlNRTiWBj396Wc5Bz603kofU</string>
	<key>GCM_SENDER_ID</key>
	<string>788524645419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivsorg.viv.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>v-i-v-org</string>
	<key>STORAGE_BUCKET</key>
	<string>v-i-v-org.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788524645419:ios:70fb0c095ce66ac196be6e</string>
</dict>
</plist>