@font-face {
  font-family: robotoslab;
  src: url(../src/assets/Fonts/RobotoSlab-VariableFont_wght.ttf);
}

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";


.profileCard-Main{
font-family: robotoslab, serif !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  height: inherit !important;
}

.profileCard-render {
font-family: robotoslab, serif !important;
box-sizing: border-box !important;
margin-top: 30px !important;
align-items: left !important;
display: flex !important;
justify-content: center !important;
height: inherit !important;
width: 80% !important;
padding: 5% 5% !important;
background-color: #f6f6f6 !important;
border-color : #010101 !important;
border-radius: 5px solid !important;
color: #010101 !important;

}
.posttimeStamp{
font-family: robotoslab, serif !important;
font-weight: 400 !important;
  font-size: 12px !important;
color: #010101 !important;
text-align: left !important;
}
.poststatus{
font-family: robotoslab, serif !important;
font-weight: 400 !important;
font-size: 14px !important;
color: #010101 !important;
text-align: left !important;
}
.profileusername{
font-family: robotoslab, serif !important;
font-weight: 600 !important;
font-size: 24px !important;
color: #010101 !important;
text-align: left !important;
}

.profileuseremail{
font-family: robotoslab, serif !important;
font-weight: 600 !important;
font-size: 14px !important;
color: #010101 !important;
text-align: left !important;

}

.profileedit{
  color : white !important;
  position: absolute !important;
  right: 20px !important;
  top : 20px !important;
  background-color: #cfb53b;
  border: none !important;
  border-radius: 30px !important;
}
.profileedit:hover {
  background-color: #000 !important;
  color: #cfb53b !important;
}

// Required
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
// etc